node_modules/
uploads/
sense-tech.db
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
AppData/
.arduinoIDE/
.cursor/
*.regtrans-ms
ntuser.*
NTUSER.*

# Carpetas del sistema Windows
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/




